
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200&family=Playfair+Display:wght@400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');


*{
    font-family: poppins;
}

body{
    height: 2000px;
}

.menu{
    background-color: purple;
    
}

.navbar-nav{
    word-spacing: 20px;
}

.home{
    background: url("https://images.theconversation.com/files/369567/original/file-20201116-23-18wlnv.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1356&h=668&fit=crop");
    width: 100%;
    height: 470px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 400px 200px rgba(0, 0, 0, .7);

}

#title{
    position: relative;
    top: 5rem;
    font-weight: 400;
    font-family: playfair display;
}

#subtitle{
    position: relative;
    top: 5rem;
    font-weight: 200;
    font-size: 22px;
}

.home{
    background: url("https://images.theconversation.com/files/369567/original/file-20201116-23-18wlnv.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1356&h=668&fit=crop");
    width: 100%;
    height: 570px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 400px 400px rgba(0, 0, 0, .7);

}

#title{
    position: relative;
    top: 10rem;
    font-weight: 400;
    font-family: playfair display;
}

#subtitle{
    position: relative;
    top: 10rem;
    font-weight: 200;
    font-size: 22px;
}

.home{
    position: relative;
    
}

#explore{
    position: relative;
    top: 10rem;
    height: 50px;
    width: 100px;
    border-radius: 20px;
}

.about{
    background-color: white;
    height: 500px;
    width: 100%;
}

#title2{
    font-family: Playfair Display;
    font-weight: 500;
    text-decoration: underline;
    position: relative;
    top: 2rem;
}

#desc-1{
    height: 400px;
    width: 500px;
    box-shadow: 20px 20px 20px 200px black;
}

#subtitle2{
    position: relative;
    top: 3rem;
    
}

#card-desc{
    margin-bottom: 10px;
    position: relative;
    top: 6rem;
    right: 1rem;
}

#card-desc h5{
    font-family: Playfair Display;
    font-weight: 500;
}

#card-body{
    box-shadow: 1px 5px 25px  rgb(175, 175, 175);
}


#picture{
    position: absolute;
    left: 57%;
    top: 1020px;
    box-shadow: 2px 2px 25px  rgb(175, 175, 175);
}

.content-2{
    background-color: purple;
    height: 2000px;
    width: 100%;
    position: absolute;
    top: 115rem;
}
#commitee{
    font-family: Playfair Display;
    position: relative;
    top: 2rem;
}

#line{
  height: 1600px; 
  width: 5px;
  align-items: center;
  position: relative;
  left: 85%;
  top: 7rem;
  border-radius: 20px;

}

#card-events{
    -webkit-box-flex: initial;
    position: relative;
    top: 55rem;
}

#sign{
    justify-content: end;
    display: grid;
    position: relative;
    right: 43px;
    bottom: 17rem;
}







