
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200&family=Playfair+Display:wght@400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');


*{
    font-family: poppins;
    
}

html{
    scroll-behavior: smooth;
    min-height: 100%;
}








#image{
    height: 170px;
}

#wallpaper{
    background: white;
    width: 100%;
    height: 650px;
    
}

#events{
    
    background: rgb(139, 18, 38);
    
}

#quote{
    background: url('https://upload.wikimedia.org/wikipedia/commons/4/4c/Sir_William_Osler_in_Edward_Jenner%27s_chair_in_the_room_of_th_Wellcome_V0026942.jpg');
    background-size: cover;
    background-position: 1px;
    box-shadow: inset 0px 0px 400px 400px rgba(0, 0, 0, .7);
   
   
    
}


.menu{
    background-color: rgb(139, 18, 38);

}

.navbar-nav{
    word-spacing: 20px;
}

.home{
    width: 100%;
    height: 570px;
    background-size: cover;
    background-repeat: no-repeat;

}

#title{
    position: relative;
    top: 7rem;
    font-weight: 400;
    font-family: playfair display;
}

#subtitle{
    position: relative;
    top: 7rem;
    font-weight: 400;
    font-size: 22px;
}

#subheading2{
    position: relative;
    top: 7rem;
    font-weight: 200;
}

#why{
    font-family: Playfair Display;
}

#subtext{
    height: 600px;
    background: white;
    width: 100%;
    position: relative;
    bottom: 1rem;
}

.home{
    position: relative;
    
}

#explore{
    position: relative;
    top: 8rem;
    height: 50px;
    width: 100px;
    border-radius: 10px;
}

.about{
    background-color: rgb(245, 181, 181);
    height: 1100px;
    width: 100%;

}

#title2{
    font-family: Playfair Display;
    font-weight: 500;
    text-decoration: underline;
    position: relative;
    top: 2rem;
}

#desc-1{
    height: 400px;
    width: 500px;
    box-shadow: 20px 20px 20px 200px black;
}

#subtitle2{
    position: relative;
    top: 3rem;
    
}



#card-desc h5{
    font-family: Playfair Display;
    font-weight: 500;
}

#card-body{
    box-shadow: 1px 5px 25px  rgb(175, 175, 175);
}


#picture{
    position: relative;
    left: 57%;
    bottom: 23rem;
    box-shadow: 2px 2px 25px  rgb(175, 175, 175);
}

.content-2{
    background-color: purple;
    height: 1500px;
    width: 100%;
    position: relative;
    top: 120rem;
}


.Commitee{
    background: url('https://png.pngtree.com/background/20230625/original/pngtree-flying-colorful-tablets-in-a-3d-illustration-against-a-purple-background-picture-image_4038955.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 400px 1000px rgba(0, 0, 0, .7);
    width: 100%;
    font-family: Playfair Display;
    
}

#line{
  height: 1100px; 
  width: 5px;
  align-items: center;
  position: relative;
  left: 85%;
  top: 7rem;
  border-radius: 20px;

}

.speakers{
   
    background: rgb(245, 181, 181);
    width: 100%;
    position: relative;
    
    
}


.register{
    background-color: rgb(139, 18, 38);
    
}

#roller{
    
    background: white;
    height: 500px;
   
}

#card-events{
    -webkit-box-flex: initial;
    position: relative;
    top: 45rem;
    z-index: 999;
}


#sign{
    justify-content: end;
    display: grid;
    position: relative;
    right: 43px;
    bottom: 17rem;
}









#header{
    width: 100%;
    height: 100vh;
}




.sponsors{
    background: url('https://clinicalresearch.my/wp-content/uploads/2016/06/1-Sub-banner-Prime-Site_Hospital-Kuala-Lumpur_Large.jpg');
    background-size: cover;
    background-position: 1px;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 400px 1000px rgba(0, 0, 0, .7);
    
}















