
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200&family=Playfair+Display:wght@400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');


*{
    font-family: poppins;
}

body{
    height: 2000px;
}

.menu{
    background-color: purple;
    
}

.navbar-nav{
    word-spacing: 20px;
}

.home{
    background: url("https://images.theconversation.com/files/369567/original/file-20201116-23-18wlnv.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1356&h=668&fit=crop");
    width: 100%;
    height: 470px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 400px 200px rgba(0, 0, 0, .7);

}

#title{
    position: relative;
    top: 5rem;
    font-weight: 400;
    font-family: playfair display;
}

#subtitle{
    position: relative;
    top: 5rem;
    font-weight: 200;
    font-size: 22px;
}


